<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Radio Channels</title>	
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/bootstrap/dist/css/bootstrap.css">
</head>
<body>
	<div class="root">
	  <header class="header">
	  	
	  </header>
	  <div class="page-wrap">
		<nav class="side">
			<ul class="nav nav-pills nav-stacked">
  				<li >
  					<a href="">
  						<i class="glyphicon glyphicon-list"></i>
  						<span>Menu</span>
  					</a>
  				</li>
  				<li >
  					<a href="">
  						<i class="glyphicon glyphicon-home"></i>
  						<span>Home</span>
  					</a>
  				</li>	
  				<li class="nav-active">
  					<a href="">
  						<i class="glyphicon glyphicon-music"></i>
  						<span>Radio Channels</span>
  					</a>
  				</li>	
  				<li >
  					<a href="">
  						<i class="glyphicon glyphicon-cd"></i>
  						<span>Shows</span>
  					</a>
  				</li>	
  				<li >
  					<a href="">
  						<i class="glyphicon glyphicon-thumbs-up"></i>
  						<span>My Tracks</span>  						
  					</a>
  				</li>
  				<li >
  					<a href="">
  						<i class="glyphicon glyphicon-headphones"></i>
  						<span>Go Premium</span>
  					</a>
  				</li>
  				<li class="apps">
  					<a href="">
  						<i class="glyphicon glyphicon-phone"></i>
  						<span>Apps</span>
  					</a>
  				</li>
			</ul>
		</nav>
		<div class="content">
			<nav class="topBar">
				<h2>Radio Channels</h2>
				<div class="menu">
					<span class="favorites type">Favorites</span>
					<span class="styles type active">Styles</span>
					<span class="all type">All<span>
				</div>
				<div class="views">

				</div>
			</nav>
			<nav class="filter-buttons row">	
			</nav>
			<div class="radiosContainer row">	
			</div>
			<script type="text/template" id="gridTemplate">
		    	<a><i href="compacto" class="compact view-active glyphicon glyphicon-th-list"></i></a>
				<a><i href="mosaico" class="mosaic glyphicon glyphicon-th-large"></i></a>
		    </script>
			<script type="text/template" id="radiosTemplate">
		        <ul class="bigList">

		        </ul>
		    </script>
		    <script type="text/template" id="radioTemplate">
				<img class="image"src='img/<%= id %>.png'> </img>
				<div class="name"><%= name %> </div>
				<div class="playing"><%= "" %>Now Playing </div>
		    </script>
			<script type="text/template" id="radiosTemplate2">
		        <ul class="bigList2">

		        </ul>
		    </script>
		    <script type="text/template" id="radioTemplate2">
				<img class="image2"src='img/<%= id %>.png'> </img>
				<div class="name2"><%= name %> </div>
		    </script>		    
		    <script type="text/template" id="buttonsTemplate">
		        <ul class="buttonsList">
		        </ul>
		    </script>
			<script type="text/template" id="buttonTemplate">
				<div class="btn btn-default buttonName "><%= name %> 
				</div>
	    	</script>
		</div>
	  </div>
	</div>
	<script src="js/bundle.js"></script>
</body>
</html>